* {
    top:0;
    margin: 0;
    padding: 0;}
    body{background-image: url(https://img2.juzaphoto.com/002/shared_files/uploads/2407543.jpg);
      background-size: 100%;
      background-attachment: fixed;}
  
  
  
  
  .menu {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  padding: 10px;
  }
  
  
  
  
  .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  }
  
  
  
  
  .menu li {
  margin: 0 10px;
  float: left;
  }
  
  
  
  
  .menu a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  float: left;
  }
  
  
  
  
  .menu a:hover {
  background-color:rgba(210, 212, 220, 0.562);
  /* Cambia il colore di sfondo al passaggio del mouse */
  }
  
  
  
  
  @media screen and (max-width: 768px) {
  /* Media query per la visualizzazione mobile */
  .menu {
    flex-direction: column;
  }
  
  
  
  
  .menu li {
    margin: 10px 0;
    text-align: center;
  
  
  
  
  }
  }
  
  
  
  
  .title {
  font-size: 35px;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 10px 10px 15px #333 ;
  }

  .container {
    background-color: rgba(210, 212, 220, 0.562);
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
  }
  
  .subtitle {
    font-size: 36px;
    margin-top: 0;
    font-size: 30px;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding-right: 20px;
  }
  
  .img-right {
    max-width: 100%;
  }
  